<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="chat.dim.dim_flutter">

<!-- https://github.com/Baseflow/flutter-permission-handler/blob/main/permission_handler/example/android/app/src/main/AndroidManifest.xml -->

    <!-- Internet permissions do not affect the `permission_handler` plugin,
         but are required if your app needs access to the internet. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Permissions options for the `storage` group -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Permissions options for the `photos` group -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- Permissions options for the `camera` group -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Permissions options for the `microphone` or `speech` group -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
<!--    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />-->

<!--    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />-->
<!--    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />-->

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">

        <service android:name="chat.dim.ui.media.MediaService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="chat.dim.tarsier.provider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>
